In [1]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')

In [13]:
IEX_CLOUD_API_TOKEN = 'Tpk_059b97af715d417d9f49f50b51b1c448'

In [14]:
symbol='AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'symbol': 'AAPL',
 'companyName': 'Apple Inc',
 'primaryExchange': 'CTK LN)D/OA QANRGBSGSSEE(ATMLE LA',
 'calculationPrice': 'close',
 'open': None,
 'openTime': None,
 'openSource': 'lciaoiff',
 'close': None,
 'closeTime': None,
 'closeSource': 'flifcoia',
 'high': None,
 'highTime': None,
 'highSource': None,
 'low': None,
 'lowTime': None,
 'lowSource': None,
 'latestPrice': 130.52,
 'latestSource': 'Close',
 'latestTime': 'January 19, 2021',
 'latestUpdate': 1614325002577,
 'latestVolume': None,
 'iexRealtimePrice': 131.35,
 'iexRealtimeSize': 3,
 'iexLastUpdated': 1654066777820,
 'delayedPrice': None,
 'delayedPriceTime': None,
 'oddLotDelayedPrice': None,
 'oddLotDelayedPriceTime': None,
 'extendedPrice': None,
 'extendedChange': None,
 'extendedChangePercent': None,
 'extendedPriceTime': None,
 'previousClose': 131.75,
 'previousVolume': 116211185,
 'change': 0.7,
 'changePercent': 0.00557,
 'volume': None,
 'iexMarketPercent': 32.87512410711024,
 'iexVolume': 1092746,
 'avgTotalVolume': 108387632,
 'iexBidPrice': 0,
 'iexBidSize': 0,
 'iexAskPrice': 0,
 'iexAskSize': 0,
 'iexOpen': 130.42,
 'iexOpenTime': 1657231895732,
 'iexClose': 129.04,
 'iexCloseTime': 1637070070569,
 'marketCap': 2250734896773,
 'peRatio': 40.73,
 'week52High': 139.67,
 'week52Low': 56.36,
 'ytdChange': -0.03207403173632726,
 'lastTradeTime': 1611598696812,
 'isUSMarketOpen': False}

In [16]:
data['latestPrice']
data['marketCap']/1000000000000

2.250734896773

In [17]:
my_columns = ['Ticker', 'Price','Market Capitalization', 'Number Of Shares to Buy']
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Price, Market Capitalization, Number Of Shares to Buy]
Index: []

In [18]:
final_dataframe = final_dataframe.append(
                                        pd.Series(['AAPL', 
                                                   data['latestPrice'], 
                                                   data['marketCap'], 
                                                   'N/A'], 
                                                  index = my_columns), 
                                        ignore_index = True)
final_dataframe

  Ticker   Price Market Capitalization Number Of Shares to Buy
0   AAPL  130.52         2250734896773                     N/A

In [20]:
final_dataframe = pd.DataFrame(columns = my_columns)
for symbol in stocks['Ticker']:
    api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(api_url).json()
    final_dataframe = final_dataframe.append(
                                    pd.Series([
                                        symbol,
                                        data['latestPrice'],
                                        data['marketCap'],
                                        'N/A'],
                                        index = my_columns),
                                    ignore_index = True)
final_dataframe

    Ticker   Price Market Capitalization Number Of Shares to Buy
0        A  128.99           39917778455                     N/A
1      AAL   16.33            9745226423                     N/A
2      AAP  168.29           11417204761                     N/A
3     AAPL  134.03         2237566063871                     N/A
4     ABBV  115.68          202617791621                     N/A
..     ...     ...                   ...                     ...
500    YUM  109.61           32955309389                     N/A
501    ZBH  162.21           33185190044                     N/A
502   ZBRA  424.90           21889174897                     N/A
503   ZION   51.06            8283349898                     N/A
504    ZTS  163.62           79438984188                     N/A

[505 rows x 4 columns]

In [22]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [26]:
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0,len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))

final_dataframe = pd.DataFrame(columns = my_columns)
for symbol_string in symbol_strings[:1]:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
                                            pd.Series([
                                                symbol,
                                                data[symbol]['quote']['latestPrice'],
                                                data[symbol]['quote']['marketCap'],
                                                'N/A'
                                            ],
                                                     index = my_columns),
                                            ignore_index=True
                                            )

final_dataframe

   Ticker    Price Market Capitalization Number Of Shares to Buy
0       A  133.310           40229878987                     N/A
1     AAL   16.170            9760301350                     N/A
2     AAP  170.910           11310001562                     N/A
3    AAPL  128.730         2187777183543                     N/A
4    ABBV  113.800          203655947742                     N/A
..    ...      ...                   ...                     ...
95   CINF   94.300           15186169600                     N/A
96     CL   83.470           71893013330                     N/A
97    CLX  199.950           24776272057                     N/A
98    CMA   65.000            9195178986                     N/A
99  CMCSA   49.106          229826575553                     N/A

[100 rows x 4 columns]

In [28]:
portfolio_size = input("Enter the value of your portfolio:")

try:
    val = float(portfolio_size)
except ValueError:
    print("That's not a number! \n Try again:")
    portfolio_size = input("Enter the value of your portfolio:")

Enter the value of your portfolio:tshh
That's not a number!
 Try again:
Enter the value of your portfolio:10000000

In [31]:
position_size = float(portfolio_size)/len(final_dataframe.index)
for i in range(0,len(final_dataframe.index)):
    final_dataframe.loc[i,'Number Of Shares to Buy'] = math.floor(position_size/final_dataframe.loc[i,'Price'])
final_dataframe

   Ticker    Price Market Capitalization Number Of Shares to Buy
0       A  133.310           40229878987                     750
1     AAL   16.170            9760301350                    6184
2     AAP  170.910           11310001562                     585
3    AAPL  128.730         2187777183543                     776
4    ABBV  113.800          203655947742                     878
..    ...      ...                   ...                     ...
95   CINF   94.300           15186169600                    1060
96     CL   83.470           71893013330                    1198
97    CLX  199.950           24776272057                     500
98    CMA   65.000            9195178986                    1538
99  CMCSA   49.106          229826575553                    2036

[100 rows x 4 columns]

In [32]:
writer = pd.ExcelWriter('recommended_trades.xlsx', engine='xlsxwriter')
final_dataframe.to_excel(writer, sheet_name='Recommended Trades', index = False)

In [33]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_format = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_format = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_format = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [34]:
column_formats = { 
                    'A': ['Ticker', string_format],
                    'B': ['Price', dollar_format],
                    'C': ['Market Capitalization', dollar_format],
                    'D': ['Number of Shares to Buy', integer_format]
                    }
for column in column_formats.keys():
    writer.sheets['Recommended Trades'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Recommended Trades'].write(f'{column}1', column_formats[column][0], string_format)

In [35]:
writer.save()